{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h5 class="text-success"><span class="fa fa-shopping-basket"></span> Make an Order</h5>
            <hr>
            <div class="card card-body">
                <a href="" class="btn btn-sm btn-block border-success text-center"> CREATE ORDER</a>
               <form action="" class="my-4" method="POST">

                <div class="mt-5">

                    {% csrf_token %}

                    {{ form }}
                   <button class="btn btn-block btn-success mt-4" type="submit"> Order <span class="fa fa-check"></span></button>
                </div>
               </form>
        </div></div></div>

{% endblock %}