{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Password Reset Confirmation !</title>
</head>
<body style="background-color: #28a745">
    <div class="container">
        

        <h2 class="display-5 my-5">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h2>
        <hr>
            <p>     
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
        </p><hr>

        <h5 class="my-3 text-upper text-white"> &copy <span style="transform: rotate(30deg)" class="fa fa-shopping-basket rotate-n15"></span> RELIANCE, 2020.</h5>
    </div>

    
    </body>
    </html>