{% extends 'base.html' %}

{% block content %}

<div class="container my-5">

    <p>Welcome to the User Page, {{ request.user }} !</p><hr>

    
    <div class="row">
        <div class="col-md-4"> 
            <div class="card text-white mb-3 priver">
                <div class="card-header text-center">TOTAL ORDERS</div>
                <div class="card-body">
                 
                  <p class="card-text text-center" style="font-size: 40px;">{{ total_orders }}</p>
                </div>
        </div>
    </div>

        <div class="col-md-4">
            <div class="card text-white mb-3 purple">
                <div class="card-header text-center">ORDERS DELIVERED</div>
                <div class="card-body">
                 
                  <p class="card-text text-center"  style="font-size: 40px;">{{ orders_delivered }}</p>
                </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white orange mb-3">
            <div class="card-header text-center">ORDERS PENDING</div>
            <div class="card-body">
              
              <p class="card-text text-center"  style="font-size: 40px;">{{ orders_pending }}</p>
            </div>
    </div>
</div>
</div></div>


<div style="width: 95%; margin:auto;">
    <button class="btn btn-info btn-block">Order Listings for Customer,  <span class="fa fa-user"></span> {{ request.user }}</button>
    <div style="overflow-x: auto;">

        <table class="table table-bordered">
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Date Ordered</th>
                <th>Status</th>
                
            </tr>

            {% for order in orders %}
            <tr>
                <td>{{ order.product.name }}</td>
                <td>{{ order.product.category }}</td>
                <td>{{ order.date_created }}</td>
                <td>{{ order.status }}</td>
                
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}